<section>
    <div class="container">

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">SI No:</th>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>

                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td><img style="height: 75px; width: auto;"
                            src="/product-images/{{this._id}}.jpg"></td>
                    <td>{{this.Name}}</td>
                    <td>
                        <button class="cart-item-count btn btn-secondary px-3 mr-3">-</button>1
                        <button class="cart-item-count btn btn-secondary px-3 ml-3">+</button>
                    </td>
                    <td><a href="" class="btn btn-danger">Remove</a></td>
                </tr>
                {{/each}}

            </tbody>
        </table>

    </div>
</section>