<section>
    <div class="container text-center mt-5">
        <img src="https://cdn.dribbble.com/users/458522/screenshots/14007167/media/214f6fa81fbd40f3b65b2cb747393226.png">
        <h2 class="text-muted my-4">Your Order is Complete!</h2>
        <a class="btn btn-success px-5 py-3" href="/order-history">View Order History</a>
    </div>
</section>

<style>
    img {
        height: 300px;
        width: auto;
    }
</style>