<section>
    <div class="container">

        <form action="" id="checkout-form">

            <div class="float-left col-md-6 mt-5">
                <h2 class="text-center mt-5 mb-4">Enter Delivery Details</h2>

                <label for="">Address</label>
                <input id="address" type="text" name="address" class="form-control">

                <label for="">PIN Code</label>
                <input id="pincode" type="text" name="pincode" class="form-control">

                <label for="">Mobile Number</label>
                <input id="mobile" type="text" name="mobile" class="form-control">

                <input type="text" name="userId" value="{{user._id}}" hidden>
            </div>

            <div style="border: 1px solid; padding: 35px 35px; margin: 80px 10px;" class="checkout col-md-5 float-right">
                <h4>Total Amount : ₹ {{total}}</h4>
                <hr>
                <h5>Payment Method</h5>

                <div class="payment my-4">
                    <input type="radio" id="cod" name="payment-method" value="COD" checked>
                    <label for="cod">COD</label><br>
                    <input type="radio" id="online" name="payment-method" value="ONLINE">
                    <label for="online">Online Payment</label><br>
                </div>

                <button type="submit" style="width: 100%;" class="btn btn-primary py-2 text-centered">Submit</button>
            </div>

        </form>

    </div>
</section>


<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'POST',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.status) {
                    location.href = '/order-complete'
                } else {
                    razorPayPayment(response)
                }
            }
        })
    })

    function order {
        var options = {
            "key": "YOUR_KEY_ID", // Enter the Key ID generated from the Dashboard
            "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": "order_9A33XWu170gUtm", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){
                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#F37254"
            }
        };
    }

</script>