<section>
    <div class="container">

        <form action="" id="checkout-form">

            <div class="float-left col-md-6 mt-5">
                <h2 class="text-center mt-5 mb-4">Enter Delivery Details</h2>

                <label for="">Address</label>
                <input id="address" type="text" name="address" class="form-control">

                <label for="">PIN Code</label>
                <input id="pincode" type="text" name="pincode" class="form-control">

                <label for="">Mobile Number</label>
                <input id="mobile" type="text" name="mobile" class="form-control">

                <input type="text" name="userId" value="{{user._id}}" hidden>
            </div>

            <div style="border: 1px solid; padding: 35px 35px; margin: 80px 10px;" class="checkout col-md-5 float-right">
                <h4>Total Amount : ₹ {{total}}</h4>
                <hr>
                <h5>Payment Method</h5>

                <div class="payment my-4">
                    <input type="radio" id="cod" name="payment-method" value="COD" checked>
                    <label for="cod">COD</label><br>
                    <input type="radio" id="online" name="payment-method" value="ONLINE">
                    <label for="online">Online Payment</label><br>
                </div>

                <button type="submit" style="width: 100%;" class="btn btn-primary py-2 text-centered">Submit</button>
            </div>

        </form>

    </div>
</section>


<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'POST',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                alert(response)
            }
        })
    })
</script>